<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>UserManagement.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewAssignmentServ</servlet-name>
        <servlet-class>Servlets.CreateNewAssignmentServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentServ</servlet-name>
        <servlet-class>Servlets.AssignmentServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServ</servlet-name>
        <servlet-class>Servlets.DownloadServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitAssignmentServ</servlet-name>
        <servlet-class>Servlets.SubmitAssignmentServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GradesServ</servlet-name>
        <servlet-class>Servlets.GradesServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentResultServ</servlet-name>
        <servlet-class>Servlets.AssignmentResultServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServ</servlet-name>
        <servlet-class>Servlets.LoginServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServ</servlet-name>
        <servlet-class>Servlets.LogoutServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServ</servlet-name>
        <servlet-class>Servlets.ProfileServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServ</servlet-name>
        <servlet-class>Servlets.UserProfileServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginTest</servlet-name>
        <servlet-class>Servlets.LoginTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login2</servlet-name>
        <servlet-class>Servlets.Login2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Servlets.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewAssignmentServ</servlet-name>
        <url-pattern>/CreateNewAssignmentServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentServ</servlet-name>
        <url-pattern>/AssignmentServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServ</servlet-name>
        <url-pattern>/DownloadServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitAssignmentServ</servlet-name>
        <url-pattern>/SubmitAssignmentServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GradesServ</servlet-name>
        <url-pattern>/GradesServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentResultServ</servlet-name>
        <url-pattern>/AssignmentResultServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServ</servlet-name>
        <url-pattern>/LoginServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServ</servlet-name>
        <url-pattern>/LogoutServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServ</servlet-name>
        <url-pattern>/ProfileServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServ</servlet-name>
        <url-pattern>/UserProfileServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginTest</servlet-name>
        <url-pattern>/LoginTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login2</servlet-name>
        <url-pattern>/Login2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
